<%= simple_form_for @user, url: my_update_user_path do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.input :email, label: 'Email'%>
    <%= f.association :items, label_method: :nome, as: :check_boxes %>
  </p>
  <p>
    <%= f.button :submit %>
  </p>
 
<% end %>