<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
 
<p>
  <strong>Senha:</strong>
  <%= @user.password %>
</p>
 
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>