<h1>Hello, Rails!</h1>

<div>
	<% if user_signed_in? %>
		Logado como <strong><%= current_user.email %></strong>
		<%= link_to "Editar Perfil", edit_user_registration_path %> |
		<%= link_to "Sair", destroy_user_session_path, method: :delete %>
	<% else %>
		<!--<%= link_to "Cadastrar", new_user_registration_path %> |-->
		<%= link_to "Login", new_user_session_path %>
	<% end %>
</div>

<div>
	<h3>Administrativo</h3>
	<%= link_to "CRUD Usuários", users_path %>
</div>

</br>

<%= link_to 'My Blog', controller: 'articles' %>